body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
    background: url(/resources/img) no-repeat fixed center;
    background-size: cover;
    /*box-sizing: border-box;*/
}
.login {
    height: 1000px;
    width: 500px;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}